# Build directory
build/
out/
cmake-build-debug/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
casf_example
casf_tests

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeTmp/
cmake_install.cmake

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.swn

# macOS
.DS_Store

# Editor backup files
*~
*.bak
